.card {
  border: none;
}
.card-img-overlay {
    position: relative;
    top: auto;
    right: auto;
    bottom: 25px;
    left: auto;
    padding: 1rem;
    border-radius: 0;
    background-color: #fff;
    width: 87%;
}
